<h1>Selected Restaurant</h1>
<h2> <%= @restaurant.name %> </h2>
<br>
<p> <strong> Address: </strong> <%= @restaurant.address %> </p>
<p> <strong> Phone number: </strong> <%= @restaurant.phone_number %> </p>
<p> <strong> Category: </strong> <%= @restaurant.category %> </p>
<br>
<p> <% @reviews.each do |review| %> </p>
<p> <strong> Review </strong> </p>
<p> Rating: <%= review.rating %> </p>
<p> Comment: <%= review.content %> </p>
<br>
<% end %>

<br>
<p><strong>Please write a review...</strong></p>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.input :content%>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
<br>
<%= link_to "See all restaurants", restaurants_path %>
